.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  width: 25px;
  height: 25px;
  border: 1px solid #ff3c00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff3c00;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.3s ease;
}